*{
    margin: 0;
    padding: 0;
    font: 13px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
ul,li{
    list-style: none;
}
a{
    text-decoration:none;
}
.site-nav{
    position: relative;
    height: 30px;
    border: 1px #F5F5F5 solid;
    background-color: #F5F5F5;
}
.site-nav .wrapper{
    position: relative;
    margin: auto;
    /* border: 1px red solid; */
    width: 940px;
}
/* -----左侧导航栏的设置----- */
.site-nav .wrapper .menu-left{
    height: 30px;
    float: left;
}
.site-nav .wrapper .menu-left .links{
    position: relative;
    float: left;
    list-style: none;
    height: 29px;
    margin: 0 9px;
    line-height: 30px;
    white-space: nowrap/* 规定段落中的文本不进行换行：*/
}
.site-nav .wrapper .menu-left .links a{
    text-decoration: none;
    color: black;
}
/* 左侧导航栏伪类的设置 */
.site-nav .wrapper .menu-left .links a:hover{
    color: 	#FFFFFF;
}
.site-nav .wrapper .menu-left .links:hover{
    background-color: #FFA500;
}
/* -----右侧导航栏的设置------ */
.site-nav .wrapper .menu-right{
    height: 30px;
    float: right;
}
.site-nav .wrapper .menu-right .linkt{
    position: relative;
    float: right;
    list-style: none;
    height: 29px;
    margin: 0 9px;
    line-height: 30px;
    white-space: nowrap/* 规定段落中的文本不进行换行：*/
}
.site-nav .wrapper .menu-right .linkt a{
    text-decoration: none;
    color: black;
}
/* -----下部功能页导航栏------ */
.page{
    background: #f5283b;
}
.ju-naver{
    position: relative;
    height: 90px;
    width: 100%;
    background-color: #fff;
}
.ju-naver .ju-wrapper{
    position: relative;
    height: 100%;
    width: 940px;
    margin: auto;
}
/* ------下部功能页导航栏--左侧Logo */
.ju-naver .ju-wrapper .icon-left{
    position: relative;
    float: left;
    height: 100%;
    width: 180px;
   /*  padding: 1px red solid; */
}

.ju-naver .ju-wrapper .icon-right{
    position: relative;
    float: right;
    list-style: none;
    white-space: nowrap/* 规定段落中的文本不进行换行：*/
}
.ju-naver .ju-wrapper .icon-right li{
    display: inline-block;
    position: relative;
    line-height: 80px;
    margin-right: 2px;
}
.ju-naver .ju-wrapper .icon-right li a{
    color: #4A4A4A;
    font-size: 16px;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 6px;
}
/* ------头部的大图片区域 -------*/
.clearfix{
    margin-right: -20px;
}
.clearfix .clip-content{
    position: relative;
    overflow: hidden;
    width: auto;
    width: 1920px;
    height: 450px;
    margin: 0 auto;
}
/* ------内容卡片区域 --------*/
/* .global-middle{
    margin: 0 475px;
} */
.jusp-floor{
    margin: 0 auto;
    position: relative;
/*     min-height: 230px;
    border: 1px red solid; */
}
.jusp-floor .ju-wrappre{
    position: relative;
    margin: auto;
    width: 940px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: #ffffff; 
    background-color: #FA2960;
}
.jusp-floor .ju-wrappre .jusp-floor-tbox span{
    line-height: 60px;
    text-align: center;
    font-size: 24px;
}
.jusp-floor .ju-wrappre .ju-wrapper {
    position: relative;
    margin: auto;
    width: 940px;
}
/* ----卡片集区域------ */
  /* 卡片区域 最外边的大盒子设置 */
.ju-itemlist{
    position: relative;
    margin: auto; 
    width: 940px;
}
.ju-itemlist .clearfix .item-small-v3{
    float: left;
    position: relative;
    width: 300px;
    height: 410px;
    margin: 10px 17px 10px 0;
    border: 1px red solid;
}
/* ---卡片组----  这是一组3个，最后一个卡片清除外边距的设置---使第3个卡片可以上来，不跳到下一行 */
.ju-itemlist .clearfix #remove{
   margin-right: 0;
}
.ju-itemlist .link-box{
    height: 408px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    background: #fff;
    border: 1px solid #dcdcdc;
}
/* ------卡片图片设置----- */
.ju-itemlist .clearfix .item-small-v3 .item-pic{
    
    margin: 0 auto 0 -1px;
    display: block;
    width: 300px;
    height: 300px;
}
.ju-itemlist .clearfix .item-small-v3 .item-pic{
    margin-bottom: 10px;
}
/* -----卡片<h4>标题的样式设置----- */
.ju-itemlist .clearfix .item-small-v3 h4{
    margin: 0 0 2px 10px;
    overflow: hidden;
}
.ju-itemlist .clearfix .item-small-v3 h4 .desc{
    display: block;
    color: #333;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    overflow: hidden;
}
/* ------卡片<h3>标题的样式设置 */
.ju-itemlist .clearfix .item-small-v3 h3.noweap, .ju-itemlist .clearfix .item-small-v3 h4 .desc{
    height: 20px;
    white-space: nowrap;
    word-break: keep-all;                                                                                                                                                                                                                                                                                                                                                                                                                               
    text-overflow:ellipsis;
}
.ju-itemlist .clearfix .item-small-v3 h3{
    margin: 0 10px;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    color: #999;
}
.ju-itemlist .clearfix .item-small-v3 .price-point{
    display: inline-block;
    font-weight: 400;
    color: #e61414;
}
.ju-itemlist .clearfix .item-small-v3 .status-avil .noweap i{
    float: left;
    font-family: ju-font;
    font-style: normal;
    margin: 1px 1px 0 -1px;
}
/* 卡片-底部红块区域--的设置 */
.ju-itemlist .clearfix .item-small-v3 .item-prices {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e61414;
}
.ju-itemlist .clearfix .item-small-v3 .item-info{
    height: 50px;
    overflow: hidden;
    padding: 0 50px 0 5px;
}
.ju-itemlist .clearfix .item-small-v3 .item-info .price{
    margin-right: 8px;
    font-size: 0;
    color: #fff;
    float: left;
    font-family: Tahoma;
}
.ju-itemlist .clearfix .item-small-v3 .item-info .price i{
    margin-right: 3px;
    font-size: 22px;
}
/* -----卡片价格-样式设置----- */
.ju-itemlist .clearfix .item-small-v3 .item-info .price .J_actPrice{
    line-height: 50px;
    /* font-size: 38px; */
    font-weight: 400;
}
.ju-itemlist .clearfix .item-small-v3 .item-info .price .J_actPrice .yen{
    font-size: 40px;
}
.ju-itemlist .clearfix .item-small-v3 .item-info .price .J_actPrice .cent{
    font-size: 22px;
}
.ju-itemlist .clearfix .item-small-v3 .dock{
    overflow: hidden;
    margin-top: 4px;
}
.ju-itemlist .clearfix .item-small-v3 .dock .dock-price{
    height: 18px;
    margin-bottom: 3px;
    overflow: hidden;
}
.ju-itemlist .clearfix .item-small-v3 .dock .dock-price .benefit{
    display: inline-block;
    color: #FFF;
    height: 17px;
    line-height: 17px;
    background: #ffb369;
    border-radius: 10px;
    padding: 0 6px;
}
.ju-itemlist .clearfix .item-small-v3 .dock .prompt{
    height: 20px;
    overflow: hidden;
}
.ju-itemlist .clearfix .item-small-v3 .dock .prompt .sold-num{
    display: inline-block;
    line-height: 20px;
    padding: 0 6px;
    background-color: rgba(0,0,0,.1);
    color: #fff;
    font-size: 12px
}
.ju-itemlist .clearfix .item-small-v3 .dock .prompt .sold-num em{
    font-size: 14px;
    font-weight: 700;
}


.ju-itemlist .clearfix .item-small-v3  .item-link{
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 100%;
    padding-left: 10px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #e61414;
    background: url(https://gtms03.alicdn.com/tps/i3/TB1CUPpHVXXXXbMXXXXdTOh_FXX-112-50.png) no-repeat;
}
/* -----显示更多<b>的设置------- */
.loadMoreBtn{
    overflow: hidden;
    clear: both;
    cursor: pointer;
}
.loadMoreBtn b{
    border: 2px solid #F6224F;
    border-radius: 10px;
    color: #F6224F;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
    width: 200px;
    display: block;
    font-weight: 400;
    background: #fff;
}
/* ------下一排  item-small-v2 比较挤的卡片设置-------- */
.ju-itemlist .clearfix .item-small-v2{
    margin: 10px 10px 0 0;
    width: 465px;
    height: 212px;
    float: left;
    position: relative;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.ju-itemlist .clearfix .item-small-v2 .status-avil{
    width: 100%;
    height: 100%;
}
.ju-itemlist .clearfix .item-small-v2 .status-avil .link-box{
    width: 100%;
    height: 100%;
    background: 0 0;
    border: none;
}
.ju-itemlist .clearfix .item-small-v2 .status-avil .link-box .brand-pic{
    display: block;
    width: 100%;
    background: 0 0;
}
.ju-itemlist .clearfix .item-small-v2 .status-avil .detail{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.ju-itemlist .clearfix .item-small-v2 .status-avil .tags{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 26px;
    overflow: hidden;
    text-align: right;
    background-color: #fff;
}
.ju-itemlist .clearfix .item-small-v2 .status-avil .info{
    overflow: hidden;
    padding-right: 20px;
}
.ju-itemlist .clearfix .item-small-v2 .status-avil .info .tag{
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    margin-left: 10px;
}

.ju-itemlist .clearfix .item-small-v2 .status-avil .info .tag em , span.lt{
    color: #e61414;
}

