        blockquote,
        body,
        button,
        dd,
        dl,
        dt,
        fieldset,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        input,
        legend,
        li,
        ol,
        p,
        pre,
        td,
        textarea,
        th,
        ul {
            margin: 0;
            padding: 0;
        }
        
        a {
            color: #000;
            outline: 0;
            cursor: pointer;
        }
        
        a {
            text-decoration: none;
        }
        
        body {
            color: #6d6d6d;
            background: #fff;
        }
        
        #layout-center {
            width: 1180px;
            position: relative;
            left: 2px;
        }
        
        #layout-center {
            margin: 0 auto;
        }
        
        #layout-center,
        .footer,
        .mt-header article,
        .site-nav-bd {
            max-width: 1190px;
        }
        
        #layout-center {
            min-width: 990px;
        }
        
        .grid-c2 {
            width: 100%;
            height: 100%;
            top: -2px;
            position: relative;
            clear: both;
        }
        
        .mt-menu-tree {
            overflow: inherit;
            margin-top: -5px;
        }
        
        .mt-menu-tree {
            font-size: 12px;
            padding-left: 3px;
        }
        
        .mt-menu-tree dt {
            font-size: 15px;
            line-height: 28px;
            margin: 5px 10px 1px 0;
            color: #f40;
            margin-bottom: 3px;
        }
        
        .mt-menu-tree dd {
            list-style: none;
        }
        
        .mt-menu-tree .mt-menu-item a:link,
        .mt-menu-tree .mt-menu-item a:visited {
            display: block;
            overflow: hidden;
            text-decoration: none;
            line-height: 28px;
            color: #000;
            height: 28px;
        }
        
        .grid-c2 .main-wrap {
            margin-left: 120px;
        }
        
        .m-userinfo {
            border: 1px solid #e4eaee;
            margin-bottom: 23px;
            font-size: 12px;
            color: #4b4b4b;
            position: relative;
            z-index: 3;
        }
        
        .m-userinfo .s-userbar {
            padding: 5px 0;
            position: relative;
            *zoom: 1;
        }
        
        .m-userinfo .s-bar {
            font-size: 12px;
        }
        
        .m-userinfo .s-bar {
            font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', \5b8b\4f53, sans-serif;
            vertical-align: middle;
            color: #546d7e;
            padding: 10px;
            background: #f5f8fa;
            border-bottom: 1px solid #e4eaee;
            line-height: 23px;
            padding-top: 11px;
            padding-bottom: 8px;
        }
        
        .m-userinfo .s-baseinfo {
            float: left;
            width: 39%;
        }
        
        .m-userinfo .s-avatar {
            float: left;
            display: block;
            width: 52px;
            height: 52px;
            margin-right: 13px;
            margin-left: 12px;
            position: relative;
            border: 2px solid #FFF;
            border-radius: 50%;
            overflow: hidden;
        }
        
        .m-userinfo .s-bar .s-baseinfo img {
            border-radius: 50%;
            width: 30%;
            height: 30%;
        }
        
        fieldset,
        img {
            border: 0;
        }